<mat-toolbar>
    <span>Crear Nueva Tarea</span>
</mat-toolbar>
<form class="crear-tarea-form">
    <!-- Nombre de la tarea -->
    <mat-form-field class="example-full-width">
        <mat-label>Nombre de la Tarea</mat-label>
        <input type="text" matInput [formControl]="nombreFormControl" placeholder="Ex. Desarrollar API">
        <mat-error *ngIf="nombreFormControl.hasError('required')">
            El nombre de la tarea es requerido.
        </mat-error>
    </mat-form-field>

    <!-- Espacio -->
    <br><br>

    <!-- Componente Person para asociar personas a la tarea -->
    <app-person (personsChanged)="onPersonsChanged($event)"></app-person>

    <!-- Espacio -->
    <br><br>

    <!-- Botón para guardar la tarea -->
    <button mat-raised-button color="primary" (click)="createTask()" matTooltip="Tooltip programático" #tooltip="matTooltip">Guardar Tarea</button>
</form>
