<mat-toolbar color="primary">
  <span>Lista de Tareas</span>
</mat-toolbar>


<mat-card>

   <!-- Botón Actualizar -->
   <div class="update-button-container">
    <button mat-raised-button color="primary" (click)="updateTasks()" [disabled]="!hasChanges">Actualizar</button>
    </div>
  
    <!-- Filtros de Tareas -->
    <div class="task-filters">
      <span>Filtros:</span>
      <button mat-button (click)="filterTasks('all')">[Todas]</button>
      <button mat-button (click)="filterTasks('completed')">[Completadas]</button>
      <button mat-button (click)="filterTasks('pending')">[Pendientes]</button>
    </div>
  
    <hr />
  
    <!-- Mostrar mensaje si la lista de tareas está vacía -->
    <div *ngIf="filteredTasks.length === 0" class="empty-message">
      <p>No hay tareas {{ emptyMessage }}.</p>
    </div>
  
    <!-- Lista de Tareas -->
    <div *ngFor="let task of filteredTasks; let i = index" class="task-item">
      <div class="task-header">
        <span>{{ i + 1 }}. </span>
        <mat-checkbox [checked]="task.completed" (change)="toggleTaskCompletion(task)">
          <span [ngClass]="{ completed: task.completed }">{{ task.name }}</span>
        </mat-checkbox>
        - <span>{{ task.dueDate | date: 'yyyy-MM-dd' }}</span>
      </div>
  
      <div class="task-people">
        <p>Personas Asociadas:</p>
        <div *ngFor="let person of task.assignedPersons; let j = index">
          <span> - {{ person.fullName }} ({{ person.age }})</span>
          <button mat-icon-button color="warn" (click)="removePersonFromTask(task, j)">
            <mat-icon>delete</mat-icon> <!-- Botón para eliminar persona -->
          </button>          
          <p>Habilidades: 
            <span *ngFor="let skill of person.skills; let k = index">
              {{ skill.name }}
              <button mat-icon-button color="warn" (click)="removeSkillFromPerson(task, j, k)">
                <mat-icon>remove_circle_outline</mat-icon> <!-- Botón para eliminar habilidad -->
              </button>
            </span>
          </p>
        </div>
      </div>
    </div>
  </mat-card>
  